#main-navbar {
  text-align: center;
  background-color: LightGreen;
  width: 100%;
}

#main-navbar ul {
  position: relative;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#navbar-container ul li{
  float: left;
}

#main-navbar ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
}

#main-navbar ul li a:hover {
  background-color: MediumSeaGreen;
  color: White;
}